<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/format.css"/>
    <link rel="stylesheet" type="text/css" href="/css/edit_format.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/edit_profile.js"></script>
    <title>Edit Profile</title>
</head>

<body>
    <%- include('partials/sticky_header.ejs'); %>

    <%- include('partials/nav_panel.ejs'); %>

    <div id="content-container">
        <div class="fill-up-container">
            <Heading>Edit Profile</Heading>
            
            <form method="post" action="/profiles/edit-profile" enctype="multipart/form-data">
                <div class="field-container">
                    <label for="username_change" class="lbl">Username:</label>
                    <input type="text" id="username_change" name="username_change" class="txt-field" value="<%= user.username %>" required>
                    <div id="error-msg"></div>
                </div>
                <div class="field-container">
                    <label for="password" class="lbl">Password:</label>
                    <input type="password" id="password_change" name="password_change" class="txt-field">
                </div>
                <div class="field-container">
                    <label for="email" class="lbl">Email:</label>
                    <input type="text" id="email" name="email" class="txt-field" value="<%= user.email %>" required>
                    <div id="error-msg"></div>
                </div>
                <div class="field-container">
                    <label for="profile" class="lbl">Profile Photo</label>
                    <input type="file" id="profile" name="profile" accept=".jpg, .jpeg,.png">
                </div>
                <div class="field-container">
                    <label for="background" class="lbl">Background Photo</label>
                    <input type="file" id="background" name="background" accept=".jpg, .jpeg,.png">
                </div>

                <input type="hidden" id="currentUser" name="currentUser" value="<%=user.username%>">
                <input type="hidden" id="currentEmail" name="currenEmail" value="<%=user.email%>">
                
                <input type="submit" value="Edit" id="submit-button">
            </form>
        </div>
        
    </div>
    
</body>