<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="css/format.css" />
    <title>ShoWoof</title>
</head>

<body>
    <%- include('partials/sticky_header.ejs'); %>

    <%- include('partials/nav_panel.ejs'); %>

    <div id="content-container">
      
        <% data.forEach(post => { %>
            <div class="post-container">
                <div class="vote-content">
                    <div class="upvote-btn"></div>
                    <p>vote</p>
                    <div class="downvote-btn"></div>
                </div>

                <div class="post-content">
                    <PostMeta>Posted by <a href="https://docs.google.com/document/d/1lwspnKTddHMTM0QCOHAitKJxUZ-MV9DapjXMj4hbKZQ/edit">u/<%= post.author %></a> <%= post.datePosted.toDateString() %></PostMeta>
                    <PostTitle><%= post.title %></PostTitle>
                    <PostDesc><%= post.caption %></PostDesc>
                    <div class="action-container">
                        <img src="images/post_elements/comment.png" class="action-icon">
                        <a href="post0">&nbsp;Comment</a>
                        &nbsp;&nbsp;
                        <img src="images/post_elements/share.png" class="action-icon">
                        <a href="post0">&nbsp;Share</a>
                    </div>
                </div>
            </div>
        <% }) %>

            <div id="credit-container">
                <div class="horizontalLine"></div> <br>
                De La Salle University. <br> <br>
                Made possible by: <br>
                Francis De Leon <br>
                Mikkel Gamboa <br>
                Hanz Yu <br>
            </div>
        </div>

    </div>

</body>