<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %></title>
        <link rel="stylesheet" type="text/css" href="/css/post_format.css"/>
        <link rel="stylesheet" type="text/css" href="/css/format.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/comment.js"></script>
        <script src="/js/share.js"></script>
        <script src="/js/edit.js"></script>
        <script src="/js/reply.js"></script>
        <script src="/js/vote.js"></script>
    </head>
    <body>
        <%- include('partials/sticky-no-search.ejs'); %>
    
        <%- include('partials/nav_panel.ejs'); %>

        <main>
            <div class="post">
                <div class="vote-content">
                    <% let uvote = "upvote-not" %>
                    <% let dvote = "downvote-not"; %>

                    <% data.upvotes.forEach(user => { %>
                        <% if (user.equals(userID)) {%>
                            <% uvote = "upvote" %>
                        <% } %>
                    <% }) %>
                    <% data.downvotes.forEach(user => { %>
                        <% if (user.equals(userID)) {%>
                            <% dvote = "downvote" %>
                        <% } %>
                    <% }) %>

                   <button class="<%= uvote %>" id="upvoteID:<%=data._id%>"><img></button>
                   <div class="numberOfVotes" id="statusID<%=data._id%>"> <%= data.upvotes.length - data.downvotes.length %> </div>
                   <button class="<%= dvote %>" id="downvoteID:<%=data._id%>"><img></button>
                </div>

                <div class="post-content">
                    <PostMeta>Posted by <a href="/profiles/<%=data.author%>">u/<%= data.author %></a> <%= data.datePosted.toDateString() %></PostMeta>
                    <div class="colorA">
                        <a href="/posts/<%=data._id%>">
                            <PostTitle><%= data.title %></PostTitle>
                            <PostDesc>
                                <% if (data.image_url != '') { %>
                                    <!-- Show only image content -->
                                    <img src="<%= data.image_url %>">
                                <% } else if (data.text_content != '') { %>
                                    <!-- Show only text content -->
                                    <p><%= data.text_content %></p>
                                <% } %>
                            </PostDesc>
                        </a>
                    </div>
                    <div class="action-container">
                        <a href="/posts/<%=data._id%>">
                            <div class="flex-action-container">
                                <img src="/images/post_elements/comment.png" class="action-icon">
                                &nbsp;Comment
                            </div>
                        </a>
                        &nbsp;&nbsp;
                        <div id="copyLink:<%=data._id%>" class="copyLink">
                            <img src="/images/post_elements/share.png" class="action-icon">
                            &nbsp;Share
                        </div>
                        &nbsp;&nbsp;
                        <% if(data.author == user){ %>
                            <a href="/editPost/<%=data._id%>">
                                <div class="flex-action-container">
                                    <img src="/images/post_elements/output-onlinepngtools.png" class="action-icon">
                                    &nbsp;Edit
                                </div>
                            </a>
                        <%  } %>
                    </div>
                    <br>
                    <div class="userComment">
                        <div class="commentLabel">
                            <div>Comment as</div>&nbsp;<div class="commentUsername">u/<%= user %></div>
                        </div>
                        <form action="/posts/<%=data._id%>" class="com__form" method="POST">
                            <textarea placeholder="Bark!" class="textarea" id="inputComment" name="comTerm"></textarea>
                            <div class="userCommentCommands">
                                <button type="submit" class="commentButton" id="postComment">Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!------------------->
            <div class="comments" id="commentSection">
                <% data.Comments.forEach(comments => { %>
                    <% if (comments.comment != "") {%>
                        <div class="editComment">
                            <div class="commentBase" id="comment-1">
                                <a href="/profiles/<%=comments.commentAuthor%>"><div class="commenterImg"></div></a>
                                <div class="commentDetails">
                                    <div class="commenterDetails">
                                        <div class="commenterUser"><a href="/profiles/<%=comments.commentAuthor%>"><%= comments.commentAuthor %></a></div>
                                        <div class="commentDate"><%= comments.commentDate.toDateString() %></div>
                                    </div>
                                    <div class="commentText"><%= comments.comment %></div>
                                    <div class="commentCommandBar">
                                        <div class="commentReply">
                                            <button class="commentToolText" id="replyComment:<%= comments._id %>" data-postid="<%= comments._id %>">
                                                <img src="/images/post_elements/comment.png"> Reply
                                            </button>
                                        </div>&nbsp;&nbsp;
                                        <% if (comments.commentAuthor == user){%>
                                            <div class="commentEdit">
                                                <button class="commentToolText" id="editComment:<%= comments._id %>" data-postid="<%= comments._id %>">
                                                    <img src="/images/post_elements/output-onlinepngtools.png"> Edit
                                                </button>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>

                            <div id="replyForm-<%= comments._id %>">
                                <form action="/posts/<%= data._id %>/Comments/<%= comments._id %>/reply" class="com__form" method="POST">
                                    <textarea placeholder="Bark!" class="textarea" id="replyInputComment" name="replyTerm">@u/<%= comments.commentAuthor%> </textarea>
                                    <div class="userCommentCommands">
                                        <button type="submit" class="commentButton" id="replyPostComment">Comment</button>
                                    </div>
                                </form>
                            </div>


                            <div id="visibility-<%= comments._id %>">
                                <form action="/posts/<%= data._id %>/Comments/<%= comments._id %>/edit" class="com__form" method="POST">
                                    <textarea placeholder="Bark!" class="textarea" id="editInputComment" name="editTerm"></textarea>
                                    <div class="userCommentCommands">
                                        <form action="/posts/<%= data._id %>/comments/<%= comments._id %>/delete" method="POST">
                                            <div class="userCommentCommands">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="commentButton">Delete Comment</button>
                                            </div>
                                        </form>
                                        <button type="submit" class="commentButton" id="editPostComment">Comment</button>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    <% } %>
               <% }); %>
            </div>
        </main>
    </body>
</html>