<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %></title>
        <link rel="stylesheet" type="text/css" href="/css/post_format.css"/>
        <link rel="stylesheet" type="text/css" href="/css/format.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/comment.js"></script>
    </head>
    <body>
        <%- include('partials/sticky_header.ejs'); %>
    
        <%- include('partials/nav_panel.ejs'); %>

        <main>
            <div class="post">
                <div class="votes">
                   <div class="upvote"></div>
                   <div class="numberOfVotes"><%= data.votes %></div>
                   <div class="downvote"></div>
                </div>

                <div class="contentWhole">
                    <div class="postHead">
                        <div class="firstBar">
                            <div class="username">
                                Posted by <%= data.author %>
                            </div>
                            <div class="datePosted"> 
                                &nbsp;<%= data.datePosted.toDateString() %>
                            </div>
                        </div>
                        <div class="caption">
                            <%= data.title %>
                        </div>
                    </div>
                    <div class="content">
                        <img src="<%= data.caption %>">
                    </div>
                    <div class="postToolBar">
                        <img src="post_elements/comment.png">
                        <a href="#commentSection">Comments<a>&nbsp;
                        <img src="post_elements/share.png">
                        <a>Share</a>
                    </div>
                    <br>
                    <div class="userComment">
                        <div class="commentLabel">
                            <div>Comment as</div>&nbsp;<div class="commentUsername"><%= data.comments.commentAuthor %></div>
                        </div>
                        <textarea placeholder="Bark!" class="textarea" id="inputComment"></textarea>
                        <div class="userCommentCommands">
                            <button class="commentButton" id="postComment">Comment</button>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------->
            <div class="comments" id="commentSection">
                
            </div>

        </main>
    </body>
</html>