<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %></title>
        <link rel="stylesheet" type="text/css" href="/css/post_format.css"/>
        <link rel="stylesheet" type="text/css" href="/css/format.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/comment.js"></script>
    </head>
    <body>
        <div id="sticky-header">
            <div id="logo-pic">
                <!-- Logo image -->
            </div>
            <div id="logo-name">
                <p>ShoWoof</p>
            </div>
            <div class="search-bar-container">
                <div class="search-icon"></div>
                <input type="text" class="search-input" placeholder="Search...">
            </div>
        </div>
        <div id="nav-panel">
            <div id="nav-buttons">
                <table>
                    <tr>
                        <td class="nav-link"><a href="index.html">Home</a></td>
                    </tr>
                    <tr>
                        <td><div class="horizontalLine"></div></td>
                    </tr>
                    <tr>
                        <td class="nav-link"><a href="profiles/DogsDBest.html">Profile</a></td>
                    </tr>
                    <tr>
                        <td><div class="horizontalLine"></div></td>
                    </tr>
                    <tr>
                        <td class="nav-link"><a href="register.html">Sign Up</a></td>
                    </tr>
                    <tr>
                        <td><div class="horizontalLine"></div></td>
                    </tr>
                    <tr>
                        <td class="nav-link"><a href="login.html">Login</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <main>
            <div class="post">
                <div class="votes">
                   <div class="upvote"></div>
                   <div class="numberOfVotes"><%= data.votes %></div>
                   <div class="downvote"></div>
                </div>

                <div class="contentWhole">
                    <div class="postHead">
                        <div class="firstBar">
                            <div class="username">
                                Posted by <%= data.author %>
                            </div>
                            <div class="datePosted"> 
                                &nbsp;<%= data.datePosted.toDateString() %>
                            </div>
                        </div>
                        <div class="caption">
                            <%= data.title %>
                        </div>
                    </div>
                    <div class="content">
                        <img src="<%= data.caption %>">
                    </div>
                    <div class="postToolBar">
                        <img src="post_elements/comment.png">
                        <a href="#commentSection">Comments<a>&nbsp;
                        <img src="post_elements/share.png">
                        <a>Share</a>
                    </div>
                    <br>
                    <div class="userComment">
                        <div class="commentLabel">
                            <div>Comment as</div>&nbsp;<div class="commentUsername"><%= data.comments.commentAuthor %></div>
                        </div>
                        <textarea placeholder="Bark!" class="textarea" id="inputComment"></textarea>
                        <div class="userCommentCommands">
                            <button class="commentButton" id="postComment">Comment</button>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------->
            <div class="comments" id="commentSection">
                
            </div>

        </main>
    </body>
</html>