<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/format.css"/>
    <link rel="stylesheet" type="text/css" href="/css/profile_format.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/vote.js"></script>
    <title>u/<%=username%></title>
</head>

<body>
    <%- include('partials/sticky-no-search.ejs'); %>
    
    <%- include('partials/nav_panel.ejs'); %>

    <div id="profile-container">
        <div id="cover-photo" style="background-image: url(<%=bgPicPath%>);"></div>

        <div id="profile-name-content">
            <div id="profile-picture-container">
                <img src="<%=pPicPath%>">
            </div>

            <p>u/<%=username%></p>
            
            <% if (username === user) {%>
            <div class="edit-profile-btn">
                <a href="<%=user%>/edit">Edit Profile</a>
            </div>
            <% } %>
        </div>

        <p id="posts-header"><b>Your Posts</b></p>

        <div id="profile-content">
            <div id="user-posts">
                <% data.forEach(post => { %>
                    <div class="post-container">
                        <div class="vote-content">
                            <% let uvote = "upvote-not" %>
                            <% let dvote = "downvote-not"; %>

                            <% post.upvotes.forEach(user => { %>
                                <% if (user.equals(userID)) {%>
                                    <% uvote = "upvote" %>
                                <% } %>
                            <% }) %>
                            <% post.downvotes.forEach(user => { %>
                                <% if (user.equals(userID)) {%>
                                    <% dvote = "downvote" %>
                                <% } %>
                            <% }) %>

                            <button class="<%= uvote %>" id="upvoteID:<%=post._id%>"><img></button>
                            <p id="statusID<%=post._id%>"><%= post.upvotes.length - post.downvotes.length %></p>
                            <button class="<%= dvote %>" id="downvoteID:<%=post._id%>"><img></button>
                        </div>
        
                        <div class="post-content">
                            <PostMeta>Posted by <a href="/profiles/<%=post.author%>">u/<%= post.author %></a> <%= post.datePosted.toDateString() %></PostMeta>
                            <PostTitle><%= post.title %></PostTitle>
                            <PostDesc>
                                <% if (post.image_url != '') { %>
                                    <!-- Show only image content -->
                                    <img src="<%= post.image_url %>">
                                <% } else if (post.text_content != '') { %>
                                    <!-- Show only text content -->
                                    <p><%= post.text_content %></p>
                                <% } %>
    
                            </PostDesc>
                            <div class="action-container">
                                <img src="/images/post_elements/comment.png" class="action-icon">
                                <a href="/posts/<%=post._id%>">&nbsp;Comment</a>
                                &nbsp;&nbsp;
                                <div id="copyLink:<%=post._id%>" class="copyLink">
                                    <img src="/images/post_elements/share.png" class="action-icon">
                                    Share
                                </div>
                                &nbsp;&nbsp;
                                <% if(post.author == user){ %>
                                    <img src="/images/post_elements/output-onlinepngtools.png" class="action-icon">
                                    &nbsp;
                                    <a href="/editPost/<%=post._id%>">Edit</a>
                                <%  } %>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

            <div id="user-stats">
                <div id="name">u/<%=username%></div>
                <div class="horizontalLine gray"></div>
                <div id="number-row">
                    <div class="stat-container">
                        Posts <br> 
                    </div>

                    <div class="verticalLine gray"></div>

                    <div class="stat-container">
                        comments <br> 0
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>